doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Real State - 220186 | #{page}
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-800 
        h1.text-white.text-4xl.text-center.py-10 Hola desde el Home
