extends ../layout/index.pug 

block password
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold(class="text-verdigris") Real
            span.font-normal.text-black State 
        h2.text-center.text-3xl.my-10.font-extrabold= page 
        
        .mt-8.mx-auto.max-w-xl 
            .bg-white.py-8.px-4.shadow-xl.rounded-lg
                form.space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Email:
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-sm.place-holder-gray-400(placeholder="user@domain.com" name="email" type="email")
                    div 
                        input#button_login.w-full.text-white.font-Morado.py-3.rounded-xl(class="bg-Morado hover:bg-Rojo cursor-pointer" type="submit" value="Send me an email")
                        